USE [QuanLyNhaSachWhimsiBooks]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/12/2023 4:44:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](255) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[MaSoThue] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[LoaiKhachHang] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [SoDienThoai], [NgaySinh], [GioiTinh], [Email], [MaSoThue], [DiaChi], [LoaiKhachHang]) VALUES (N'KH0001', N'Nguyễn Kim Thuỳ', N'0841231224', CAST(N'2023-12-16T00:00:00.000' AS DateTime), N'Nữ', N'kimthuy@gmail.com', N'0400587833', N'12 Nguyễn Văn Bảo, Phường 4 , Gò Vấp', N'CONG TY')
INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [SoDienThoai], [NgaySinh], [GioiTinh], [Email], [MaSoThue], [DiaChi], [LoaiKhachHang]) VALUES (N'KH0002', N'Nguyễn Kim Dung', N'0841231321', CAST(N'2023-12-16T00:00:00.000' AS DateTime), N'Nữ', N'kimdung@gmail.com', N'0400587834', N'12 Nguyễn Văn Bảo, Phường 4 , Gò Vấp', N'DAC BIET')
INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [SoDienThoai], [NgaySinh], [GioiTinh], [Email], [MaSoThue], [DiaChi], [LoaiKhachHang]) VALUES (N'KH0003', N'Nguyễn Trung Đức', N'0841231523', CAST(N'2023-12-16T00:00:00.000' AS DateTime), N'Nam', N'trungduc@gmail.com', N'0400587835', N'12 Nguyễn Văn Bảo, Phường 4 , Gò Vấp', N'CA NHAN')
GO
